langchain==0.0.144
transformers==4.28.0
sentence-transformers==2.2.2
llama-index==0.5.17.post1
cpm_kernels
faiss-cpu
accelerate
fastapi
peft
click~=8.1.3
openai==0.27.6
tiktoken~=0.6.0
langdetect
torch~=2.2.2
flask
numpy~=1.26.4
sympy~=1.12
scipy~=1.13.0